html, body {
    font-family: Tahoma,sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.mode_button {
    height: 20px;
    width: 120px;
}

.bigbuttonicon {
    font-size: large;
    font-weight: bold;
}

a, body a {
    text-decoration: none;
}

input[type=file] {
    width: 1px;
    visibility: hidden;
}

.mapImage {
    /*display: inline-block;*/
    opacity: 0.5;
    z-index: 5;
    width: 100%;
    height: 100%;
    /*margin: auto;*/

    margin-left: auto ;
    margin-right: auto ;

    border:10px solid blue;
    top:0;
    left:0;
    position : relative;
    pointer-events: visible;
}

.container {
    pointer-events: visible;
}

#regContainer {
    height: 500px;
    width: 320px;
    overflow-y: scroll;
}
#signup_iframe_div {
    height: 500px;
    width: 320px;
    overflow-y: scroll;
}
#mapImageContainer {
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    /*border:1px solid red;*/
    z-index: -1;
    margin: 0px;
    background-color: transparent;
    position : absolute;
    overflow: hidden;
    pointer-events: none;
}

.mapImageControl {
    margin: 10px;
    position : relative;
    overflow: hidden;
    float: right;
    pointer-events: visible;
}

.mapImageButton {
    margin: 0px;
    position : relative;
    overflow: hidden;
    float: right;
    pointer-events: visible;
}

#nexusDetailsContainer {
    font-family: Tahoma,sans-serif;
    width: 40%;
    height: 80%;
    top: 20px;
    /*right: 20px;  set in openNexusDetails*/
    /*border:1px solid red;*/
    z-index: -1;
    margin-left:auto; margin-right:0;
    background-color: whitesmoke;
    float: right;
    position : absolute;
    overflow: hidden;
    pointer-events: visible;
    opacity: 0.85;
    overflow-y: scroll;
}

#nexusDetailsControl {
    font-family: Tahoma,sans-serif;
    width: 100%;
    position : relative;
    padding: 10px;
    margin: 5px;
    pointer-events: visible;
}

.nexusVersionsButton {
    font-family: Tahoma,sans-serif;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    overflow: visible;
    position : relative;
    pointer-events: visible;
    float: right;
    clear: right;
}

.nexusViewButtons {}
.nexusEditButtons {}

.nexusEditButton {
    font-family: Tahoma,sans-serif;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    overflow: visible;
    position : relative;
    /*border: 1px solid red;*/
    /*background-color: lightpink;*/
    pointer-events: visible;
    float: right;
    clear: right;
}

.nexusSaveButton {
    font-family: Tahoma,sans-serif;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    overflow: visible;
    position : relative;
    top: -35px;
    /*border: 1px solid red;*/
    /*background-color: lightpink;*/
    pointer-events: visible;
    float: right;
    clear: right;
}

.nexusCancelEditButton {
    font-family: Tahoma,sans-serif;
    padding: 5px;
    margin-right: 10px;
    margin-top: 10px;
    overflow: visible;
    position : relative;
    top: -35px;
    /*border: 1px solid red;*/
    /*background-color: lightpink;*/
    pointer-events: visible;
    float: right;
    clear: right;
}

.editNexusField {
    font-family: Tahoma,sans-serif;
    font-weight: normal;
    font-size: medium;
    width: 300px;
    border: 1px solid gray;
    margin-top: 1px;
}

.editNexusDateField {
    font-family: Tahoma,sans-serif;
    font-weight: normal;
    font-size: medium;
    width: 150px;
    border: 1px solid gray;
    margin-top: 1px;
}

.editNexusLabel {
    font-family: Tahoma,sans-serif;
    font-weight: bold;
    font-size: medium;
}

#nexusNameContainer {
    font-family: Tahoma,sans-serif;
    font-size: large;
    font-weight: bold;
}

#nexusGeoContainer {
    font-family: Tahoma,sans-serif;
    font-size: small;
    font-weight: bold;
}

#nexusAuthorContainer {
    font-family: Tahoma,sans-serif;
    font-size: x-small;
    font-weight: bold;
}

.tagTypeRow {
    font-family: Tahoma,sans-serif;
    font-size: small;
    pointer-events: visible;
}

.tagTypeCell {
    font-family: Tahoma,sans-serif;
    font-weight: bold;
    font-size: small;
    pointer-events: visible;
    border: 2px solid darkblue;
    text-align: center;
}

.tagCell {
    font-family: Tahoma,sans-serif;
    font-weight: bold;
    font-size: x-small;
    pointer-events: visible;
}

.tagValuesCell {
    font-family: Tahoma,sans-serif;
    font-size: xx-small;
    pointer-events: visible;
}

.nexusTag {
    font-family: Tahoma,sans-serif;
    float: left;
    padding-left: 2px;
    padding-right: 2px;
    margin: 2px;
    font-size: small;
    border:1px solid blue;
    -moz-border-radius: 5px;
    border-radius: 5px;
    pointer-events: visible;
    background-color: lightblue;
}

.schema_field {
    font-family: Tahoma,sans-serif;
    font-size: xx-small;
    pointer-events: visible;
    font-weight: bold;
}
.schema_value  {
    font-family: Tahoma,sans-serif;
    font-size: xx-small;
    pointer-events: visible;
    font-weight: normal;
}

.commentaryMarkdown {
    font-family: Tahoma,sans-serif;
    font-size: x-small;
    font-weight: normal;
}

.dialogContainer {
    font-family: Tahoma,sans-serif;
    z-index: -1;
    background-color: whitesmoke;
    overflow: hidden;
    pointer-events: visible;
    border: 2px solid black;
    padding: 5px;
}

#mainControlPanel {
    font-family: Tahoma,sans-serif;
    top: 10px;
    right: 10px;
    border: 2px solid black;
    /*z-index: -1;*/
    margin-left:auto; margin-right:0;
    background-color: whitesmoke;
    float: right;
    position : absolute;
    overflow: hidden;
    /*padding: 1px;*/
    pointer-events: visible;
}

.mainControlButton {
    border: 0;
}

.authError {
    font-family: Tahoma,sans-serif;
    font-size: small;
    font-weight: bold;
    color: red;
}

#searchOptionsContainer {
    font-family: Tahoma,sans-serif;
    z-index: -1;
    background-color: whitesmoke;
    overflow: hidden;
    pointer-events: visible;
    border: 2px solid black;
    padding: 5px;
    width: 60%;
    visibility: hidden;
}

.searchBox_marker {
    text-align: center;
}
.searchBox_query {
    width: 100%;
}
.searchBox_button {
    text-align: center;
}

.searchBox_bringToFront {
    position: relative;
    top: -16px;
}

.searchBox_markerImage {
    text-align: center;
}

a:link a:visited {
    text-decoration: none;
    color: black;
}

a:hover a:active {
    text-decoration: underline;
    color: black;
}

#markerColorPickerContainer {
    font-family: Tahoma,sans-serif;
    border: 2px solid black;
    background-color: whitesmoke;
    overflow: hidden;
    padding: 2px;
    pointer-events: visible;
}

.removeMarkerIcon {
    padding: 5px;
    vertical-align: middle;
}

#sliderContainer {
    font-family: Tahoma,sans-serif;
    background-color: transparent;
    overflow: hidden;
    pointer-events: visible;
    width: 80%;
    z-index: 3;
}

.sliderLabel {
    font-family: Tahoma,sans-serif;
    color: whitesmoke;
    pointer-events: visible;
}

.timelineMarker {
}

.ui-tooltip-content {
    font-family: Tahoma,sans-serif;
    font-size: x-small;
}

.removeBookmarkIcon {
    padding: 5px;
    vertical-align: middle;
}

.bookmark_info {
    font-family: Tahoma,sans-serif;
    font-size: x-small;
}

.permalinkBookmarkIcon {
    padding: 5px;
    vertical-align: middle;
}

.quick-help {
    font-family: Tahoma,sans-serif;
    font-size: x-small;
    visibility: hidden;
    border: 2px solid darkorange;
    background-color: whitesmoke;
    padding: 5px 10px 10px 10px;
}

#helpContainer {
    font-family: Tahoma,sans-serif;
    z-index: -1;
    background-color: whitesmoke;
    pointer-events: visible;
    border: 2px solid black;
    padding: 5px;
    width: 80%;
    height: 80%;
    overflow-y: auto;
    overflow-x: hidden;
}

.helpContainer_logo {
    position: relative;
    top: 5px;
    left: 5px;
}

#helpContainer_quickHelp {
    position: relative;
}

#helpContainer_topics {
    width: 20%;
    position: relative;
    left: 0;
}

#helpContainer_iframe {
    width: 75%;
    height: 100%;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}
#helpIframe {
    overflow-y: auto;
    overflow-x: hidden;
}

.faqDecorator {
    padding: 5px;
    width: 100%;
    border-spacing: 3px;
}

.faqDecorator td {
    padding: 10px;
}

.faqDecoratorName {
    border: 1px solid blue;
    width: 30%;
    text-align: center;
}

.large_spaced_bullets li {
    margin: 8px 0;
}

.med_spaced_bullets li {
    margin: 6px 0;
}

.sm_spaced_bullets li {
    margin-top: 0;
    margin-bottom: 4px;
}

.key_concepts {
    position: relative;
    top: 8px;
}

.contact_block {
    visibility: hidden;
}

.donate_button {
    font-size: larger;
    font-weight: bold;
}

#small_screen_message {
    font-family: Tahoma,sans-serif;
    background-color: whitesmoke;
    position: absolute;
    top: 0; left: 0;
    opacity: 1.0;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: auto;
    height: 1000px;
    width: 100%;
    visibility: hidden;
    z-index: -1;
}

.geoLatLonField {
    text-align: left;
    width: 100px;
    font-size: medium;
}

.geoSpecific {}